<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
    <body>
    Stuff and things
      <div>
      {% block content %}{% endblock %}
      </div>
    </body>
</html>