<!DOCTYPE html>

{% extends 'layout.jinja2' %}

{% block toolbar %}
    {% if session.get('user_id', 0)%}
        <p class='toolbar'>
        <a href='{{request.route_url('list', id=session.get('user_id', 0))}}'>Past Conquests</a> |
        <a href='{{request.route_url('notation')}}'>Notation</a> |
        <a href='{{request.route_url('logout')}}'>Sign Out</a>
        </p>
    {% else %}
        <p class='toolbar'>
        <a href='{{request.route_url('login')}}'>Sign In</a> | 
        <a href='{{request.route_url('login')}}'>Join</a> |
        <a href='{{request.route_url('notation')}}'>Notation</a>
        </p>
    {% endif %}
{% endblock %}


{% block body %}

    {% if session.get('user_id', 0) == id.id %}
        <h2 class="game-name">Your Past Conquests</h2>
    {% else %}
        <h2 class="game-name">@{{user.user_sn}}'s Past Conquests</h2>
    {% endif %}

    {% for game in closed %}
    <div class="thumbnails">    
        <h3 class="game-name-REALLY">#{{game.name}}</h3>
  <!--       {#% set x = "Won" if user.user_id == game.is_winner else "Lost" %#}
        {#% set y = game.opponent.user_sn if game.opponent != user.user_id else game.owner.user_sn %#}
        <h4 class="game-players">#{{x}} against {{y}}#</h4> -->
        <a rel=stylesheet type=text/css href='{{request.route_url('match')}}'>
        <img class='game-thumbnail' src={{game[-1]}} height="200" width="200"></img>
        </a>
    </div>
    {% endfor %}

{% endblock %}
